.rainbow-line-text {
    animation: mig 5s infinite;
  }
  
  @keyframes mig {
    0% {
      color: #ff0202;
    }
  
    20% {
      color: #f5dc00;
    }
  
    40% {
      color: #62f500;
    }
  
    60% {
      color: #00c4f5;
    }
  
    80% {
      color: #bc00f5;
    }
  
    100% {
      color: #ff0202;
    }
  }
  
  ;

.main {
    &-gallery {
        &-box {
            &-items {
                &-link{
                    &-img {
                        transition: width 0.5s, height 0.5s, box-shadow 0.5s;

                        &-darker {
                            transition: width 0.5s, height 0.5s, opacity 0.5s;
                        }
                    }
                }
                &:hover {
                    .main-gallery-box-items-link-img {
                        width: 300px;
                        height: 200px;
                        box-shadow: 0 0 5px 0 #2e2e2e;

                        &-darker {
                            width: 300px;
                            height: 200px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &-galleryPage {
        &-box {
            &-items {
                &-link{
                    &-img {
                        transition: width 0.5s, height 0.5s, box-shadow 0.5s;
                    }
                }
                &:hover {
                    .main-galleryPage-box-items-link-img {
                        width: 400px;
                        height: 400px;
                    }
                }
            }
        }
    }
}
